body {
	font: 1.4rem/2.0rem sans-serif;
	background: #fff;
	color: #333;
	margin: 0;
}

.navbar {
	background: #555;
	color: #fff;
}

.navbar nav {
	max-width: 40em;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

.navbar .logo {
	flex: 0 0;
	padding: 0;
}

.navbar .logo img {
	height: 3em;
	margin: 0.2em;
}

.navbar a {
	color: inherit;
	text-decoration: none;

	flex: 1 1;
	text-align: center;
	padding: 1em 0;
}

.navbar a:hover {
	background: rgba(0, 0, 0, 0.4);
}

.content {
	max-width: 40em;
	padding: 1em 1em;
	margin: 0 auto;
}

pre {
	background: #eee;
	padding: 1em;
	white-space: pre-wrap;
}

input {
	font: inherit;
}

button {
	font: inherit;
	border: 2px solid transparent;
	padding: 0.2em 0.8em;
}

button:not([disabled]):hover,
button:not([disabled]):focus {
	border-color:rgba(0, 0, 0, 0.4);
}

form {
	display: contents;
}

.vertical-form label {
	display: block;
}

.vertical-form input[type=text],
.vertical-form input[type=password],
.vertical-form trix-editor {
	box-sizing: border-box;
	border-radius: 0;
	margin: 0.4em 0;
	padding: 0.4em .6em;
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0.4);
}

.vertical-form .error input[type=text],
.vertical-form .error input[type=password] {
	border-color: #f33;
}

.vertical-form input[type=text]:focus,
.vertical-form input[type=password]:focus,
trix-editor:focus {
	border-color: #333;
	outline: 5px auto rgb(0, 103, 244);
}

trix-editor:focus {
	outline-offset: -2px;
}

.vertical-form fieldset {
	border: none;
	margin: 0 0 0.8em 0;
	padding: 0;
}

.vertical-form p {
	font-size: 0.7em;
	margin: 0 0 0.4em 0;
}

.vertical-form .hint {
	color: #666;
}

.vertical-form p.error {
	color: #f33;
}

.vertical-form .controls > * {
	margin-right: 0.8em;
}

.admin-nav {
	display: block;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.8em;
}

.admin-nav a {
	display: inline-block;
	text-decoration: none;
	background: #eee;
	padding: 0.2em 0.8em;
	color: black;
	border: 1px solid #ccc;
}

.admin-nav a.active {
	background: #fff;
	border-bottom-color: #fff;
}

.full-width {
	width: 100%;
}

table {
	font-size: inherit;
	line-height: inherit;
}

thead {
	background: #ccc;
}

th, td {
	padding: 0 0.2em;
}

pre var {
	color: #c00;
}

.warning {
	display: block;
	padding: 0.2 1rem;
	margin-bottom: 1rem;
	background: #fc0;
}

.warning button[type=submit] {
	float: right;
	margin-top: 1rem;
	margin-right: 0rem;
}

.page-history {
	float: right;
	display: block;
	background: #eee;
	padding: 0 1rem;
	font-size: 1rem;
	margin-bottom: 1em;
}

.page-history ol {
	list-style: none;
	padding: 0;
}

.page-history .selected {
	font-weight: bold;
}